body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.wrapper {
  width: 941px;
  margin: 0 auto;
}

.header__title {
  font-family: 'Bebas Neue', cursive;
}

.header {
  color: white;
  background-image: url("../img/bg.png");
  background-repeat: contain;
  background-size: cover;
}

.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  padding-top: 41px;
}

.header .header__text-bottom {
  letter-spacing: 5.70937px;
  margin-top: 220px;
  margin-bottom: 71px;
}

.header .header__content {
  margin-top: 260px;
}

.header .header__content .header__title {
  letter-spacing: 5.70937px;
  margin: 0 0;
  font-size: 60px;
}

.header .header__description {
  font-size: 16px;
  margin: 0 0;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #C4C4C4;
}

.navbar .navbar__wrapper {
  border-top: 8px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar__wrapper .navbar__menu {
  padding: 0;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar .navbar__wrapper .navbar__menu .navbar__list {
  margin: 25px 0 25px 0;
}

.navbar .navbar__wrapper .navbar__menu .navbar__list.navbar__list-active {
  font-weight: 700;
}

.navbar .navbar__wrapper .navbar__menu .navbar__list.navbar__list-active .navbar__link {
  color: #00A4E5;
}

.navbar .navbar__wrapper .navbar__menu .navbar__list:last-child .navbar__link {
  margin-right: 0px;
}

.navbar .navbar__wrapper .navbar__menu .navbar__list .navbar__link {
  color: black;
  letter-spacing: 1.09091px;
  text-decoration: none;
  margin-right: 48px;
}

.our-story {
  padding-bottom: 120px;
}

.our-story div.our-story__title {
  text-align: center;
}

.our-story div.our-story__title .title {
  margin-top: 56px;
  font-size: 18px;
  letter-spacing: 2.30625px;
}

.our-story div.our-story__title .title:after {
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  content: '';
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}

.our-story .our-story__content {
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-story div.our-story__description {
  margin: 0;
  width: 40%;
}

.our-story div.our-story__description .our-story__title {
  font-size: 11px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1875px;
  margin-bottom: 20px;
}

.our-story div.our-story__description .our-story__title span {
  color: #00A4E5;
}

.our-story div.our-story__description .our-story__description {
  margin: 0;
}

.our-story .our-story__photos img {
  margin-right: 20px;
}

.our-story .our-story__photos img:last-child {
  margin-right: 0px;
}

.button {
  padding: 11px 29px;
  line-height: 18px;
  font-size: 13px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  background-color: #00A4E5;
  border: 0;
}

.our-capabilities .our-capabilities__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__nav .title {
  margin: 0;
  font-size: 18px;
  margin-right: 154px;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__nav .title:after {
  content: '';
  display: block;
  width: 50px;
  background-color: #00A4E5;
  height: 2px;
  margin-top: 10px;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__nav p {
  margin: 0;
  font-size: 11px;
  width: 400px;
  margin-right: 51px;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__blocks {
  padding-bottom: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__blocks .our-capabilities__block-content {
  border: 1px solid #C4C4C4;
  padding: 38px 22px 0px 22px;
  margin-top: 76px;
  width: 250px;
  height: 300px;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__blocks .our-capabilities__block-content .block__image {
  margin-bottom: 25px;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__blocks .our-capabilities__block-content .block__title {
  width: 250px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 13px;
}

.our-capabilities .our-capabilities__wrapper .our-capabilities__blocks .our-capabilities__block-content .block__description {
  letter-spacing: 0.1875px;
  width: 250px;
  margin-bottom: 38px;
  line-height: 23px;
}

.whatbuild {
  background-image: url("../img/bgwantbuild.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.whatbuild .whatbuild__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 230px;
}

.whatbuild .whatbuild__content .whatbuild__title {
  text-align: center;
  width: 35%;
  margin-top: 120px;
  margin-bottom: 35px;
  font-weight: 700;
  letter-spacing: 0.15px;
  font-size: 30px;
}

.signup {
  background-color: #171819;
}

.signup .signup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup .signup__content .signup__title {
  margin: 34px 70px 34px 0;
  font-weight: 700;
  font-size: 22px;
  color: white;
}

.signup .signup__content .signup__input {
  border: 0;
  padding: 11px 98px 11px 16px;
}

.signup__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer {
  font-size: 11px;
  background-color: #171819;
  color: white;
}

.footer .contacts {
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contacts .contacts__company {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.footer .contacts .contacts__company .company__title {
  font-size: 11px;
  margin-bottom: 20px;
}

.footer .contacts .contacts__company img {
  width: 100px;
  height: 24px;
}

.footer .contacts .contacts__company p {
  font-size: 11px;
  letter-spacing: 0.85px;
  line-height: 19px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.footer .contacts .contacts__links ul.link__menu {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.846154px;
  margin-right: 34px;
}

.footer .contacts .contacts__links ul.link__menu:last-child {
  margin-right: 0;
}

.footer .contacts .contacts__links ul.link__menu li {
  list-style-type: none;
}

.footer .contacts .contacts__links ul.link__menu li a {
  color: white;
  text-decoration: none;
}

.copyright p {
  margin: 0;
  padding: 22px 0px 22px 0;
  text-align: center;
}

div.link__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__contact p {
  line-height: 16px;
  width: 140px;
  margin-bottom: 20px;
}

.contacts__network {
  margin-top: 20px;
}

.contacts__network img {
  margin-right: 5px;
}
